.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left:auto ;
    margin-right: auto;
}
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.font-bold{
    font-weight: bolder;
}
.flex-col{
    flex-direction: column;
}
.flex-bold{
    font-weight: bold;
}
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.px-2{
    padding-left:13px ;
    padding-right: 13px;
}
.text-blue{
    color: rgb(254 178 86);
}
.btn{
    padding: 7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    background-color:  rgb(254 178 86);
}
.overflow-x-hidden {
    overflow: x-hidden;
}