#clockContainer{
    position: relative;
    margin: auto;
    border : 2px  solid red;
    height: 400px;
    width: 400px;
    background: url(clock.png) no-repeat;
    background-size: 100%;

}
#hour,#minute ,#second {
    position: absolute;
    
    border-radius: 10px;

}
#hour{
    width:1.6%;
    height: 17.5%;
    top: 33%;
    left:49%;
    background:black;
    transform-origin: bottom;
    

    

}
#minute{
    width:1.3%;
    height: 29%;
    top: 22%;
    left:49.2%;
    background:red;  
    opacity: 0.8;
    transform-origin: bottom;
  
    
  

}
#second{
    width:1%;
    height: 39.8%;
    top: 11.8%;
    left:49.5%;
    background: blue;
    opacity: 0.6;
    transform-origin: bottom;
    
}